/__pycache__
components/__pycache__/fighter.cpython-312.pyc
components/__pycache__/base_component.cpython-312.pyc
components/__pycache__/ai.cpython-312.pyc
components/__pycache__/__init__.cpython-312.pyc
